
.wrapper_visiting {
    width: 1920px;
    height: 1266px;
    background-color: #FFFFFF;
}

.container_visiting {
    width: 1440px;
    height: 1115px;
    padding: 75px 240px;
}

.visiting_tittle {
    position: relative;
}

.visiting_tittle::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
}

.container_cards {
    width: 1440px;
    height: 940px;
    padding-top: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_cards_o {
    width: 1440px;
    height: 440px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.container_cards_o_position_card {
    width: 440px;
    height: 422px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.img_royal_palace {
    width: 440px;
    height: 285px;
    position: relative;
}

.line {
    position: relative;
}

.img_royal_palace::after {
    content: "";
    position: absolute;
    bottom: -71px;
    left: 0;
    width: 300px;
    height: 2px;
    background-color: #710707;
    transition: 0.35s linear;
}

.img_royal_palace:hover::after {
    width: 440px;
}