* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #20201f;
}

.wrapper {
    padding: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slider {

    width: 800px;
    height: 400px;
    overflow-x: hidden;
}


.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    height: 80%;
    transition: all .6s ease;
}

.slide-img {
    width: 100%;
    height: 100%;
}

.slide-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.text {
    padding-top: 30px;
}

.slide-text {
    color: seashell;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;

}

.navigation {
    position: fixed;
    padding-top: 20em;
    display: flex;
    width: 800px;
    justify-content: end;
}

.nav-control {
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 10px;
}

.bar {
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: royalblue;
    border-radius: 50%;
    transition: all .2s ease;
}

.bar:hover {

    background: none;
    border: 2px solid royalblue;
    transition: all .0s ease;
    box-sizing: border-box;
}

.bar:focus {}

input[name="r"] {
    display: none;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}

#r4:checked~.s1 {
    margin-left: -60%;
}

#r5:checked~.s1 {
    margin-left: -80%;
}