
.container_explore {
    width: 1920px;
    height: 865px;
    background-color: #030303;
}

.container_explore_info {
    width: 1440px;
    height: 715px;
    padding: 75px 240px;
    display: flex;
}

.container_explore_info_position {
    width: 720px;
    height: 715px;

}

.container_explore_info_position_p {
    width: 660px;
    height: 281px;
    padding-top: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture_explore {
    position: relative;
}

.picture_explore::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #710707;
}

.explore_position_image {
    padding-top: 15px;
}