
.container_video {
    max-width: 1920px;
    height: 1396px;
    background-color: #FFFFFF;
}

.container_video_content {
    width: 1440px;
    height: 844px;
    padding: 39px 240px;
}

.video {
    width: 1440px;
    height: 650px;
}

.position_player {
    width: 1440px;
    padding-top: 74px;
    height: 650px;
}

.display_video {
    position: relative;
    width: 1440px;
    height: 85px;

}

.play {
    width: 23px;
    height: 32px;
    border: none;
    background-color: #000000;
    position: relative;
    cursor: pointer;
}

.video_progress {
    width: 936px;
    width: 929px;
    height: 8px;
    position: relative;
    left: 3px;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    background: linear-gradient(to right, #710707 0%, #710707 54%, #fff 54%, #fff 100%);
}

.volume {
    width: 38px;
    height: 30px;
    border:none;
    background-color: #000000;
    position: relative;
    left: -5px;
    bottom: 1px;
    cursor: pointer;
}

.volume_range {
    width: 155px;
    height: 8px;
    position: relative;
    left: -2px;
    cursor: pointer;
    -webkit-appearance: none;
    background: linear-gradient(to right, #710707 0%, #710707 43%, #fff 43%, #fff 100%);
}

.fullscreen {
    width: 36px;
    height: 38px;
    border: none;
    background-color: black;
    position: relative;
    left: -11px;
    cursor: pointer;
}

.b_left {
    width: 27px;
    height: 30px;
}

.display_video_position {
    width: 1440px;
    height: 85px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video_play_center {
    position: absolute;
    width: 220px;
    height: 220px;
    border: none;
    background: none;
    top: -436px;
    left: 604px;
    cursor: pointer;
}

.video_text_content {
    padding-top: 37px;
    display: flex;
    width: 1440px;
    height: 90px;
}

.video_text_content_tittle {
    width: 720px;
    height: 90px;
}

.video_text_content_p {
    width: 720px;
    height: 90px;
    padding-top: 8px;
}

.video_list_div {
    display: flex;
    width: 1440px;
    padding-top: 40px;
}

.video_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.video_list_item {
    display: flex;
    width: 452px;
    height: 254px;
}

.video_list_slider {
    display: flex;
    width: 200px;
    height: 12px;
    margin: 0 auto;
    padding-top: 41px;
}

.slider_items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cursor_slider {
    cursor: pointer;
}

.video_one{
    width:452; 
    height:254;
}