

.wrapper_welcome {
    margin: 0 auto;
    width: 100%;
    height: 810px;
    padding: 0;
    background-color: #030303;
    display: flex;
}


.welcome_posit_img {
    width: 100%;
    height: 810px;
    padding-left: 82px;
    position: relative;
}

.welcome {
    display: flex;
    width: 705px;
    height: 750px;
}

.welcome_position {
    width: 598px;
    height: 390px;
    position: relative;
    left: 240px;
    top: 114px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.welcome_position_padding {
    padding-top: 36px;
}

.welcome_position_padding_fr {
    padding-top: 25px;
}

.welcome_position_padding_btn {
    padding-top: 24px;
}

.welcome_buttom {
    width: 360px;
    height: 75px;
    border: none;
    background-color: #710707;
    border-radius: 10px;
    border-color: #710707;
    cursor: pointer;
    display: block;
}

.welcome_buttom:hover {
    background-color: #9D8665 ;
}

.welc_pos_img_monaliza {
    width: 1000px;
    height: 750px;
}

.welcome_slider_container {
    width: 600px;
    height: 120px;
    position: relative;
    background-color: black;
    top: -60px;
    left: 400px;
}

.welcome_slider_container_wrapper {
    padding: 40px 75px 40px 74px;
}

.welcome_slider_div {
    display: flex;
    flex-direction: row;
}

.welcome_slider_counter {
    display: flex;
    width: 82px;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
}

.welcome_slider_counter2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 180px;
    height: 16px;
    align-items: center;
    padding-top: 11px;
    padding-left: 49px;
}

.welcome_slider_counter2_item {
    display: flex;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
}

.welcome_slider_counter2_item:hover {
    box-shadow: 0px 0px 10px #D2B183;
}

.slider_item_active {
    background-color: #D2B183;
}

.welcome_slider_arrows {
    display: flex;
    width: 80px;
    height: 8px;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 60px;
}

.welcome_slider_arr_left {
    display: flex;
    width: 30px;
    height: 8px;
    border:none;
    padding: 0;
    background: black;
    cursor: pointer;
    transition: all 1s ease-out;
}

.left_svg:hover {
    fill:#9d8665;
}


.right_svg:hover {
    fill:#9d8665;
}

.welcome_slider_arr_right {
    display: flex;
    width: 30px;
    height: 8px;
    border:none;
    background: black;
    padding: 0;
    cursor: pointer;
    transition: all 1s ease-out;
}

.welcome_slider_arr_left:hover, .welcome_slider_arr_right:hover {
    transform: scale(1.4);
}

.hamburger-menu {
    display: none;
}

.close {
    opacity: 0;
}