.settings-section {
    display: none;
    flex-direction: row;
    padding-bottom: 20px;
}

.settings {
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 415px;
    justify-content: space-evenly;
    margin: 20px;
    padding-top: 50px;
    width: 415px;
}

.volume-section {}

.volume-logo {
    width: 100px;
    height: 81.58px;
    background-image: url('/assets/main-img/volume-on.png');
}

.time-section {}

.time-logo {
    width: 85px;
    height: 100px;
    background-image: url('/assets/main-img/time-logo.png');
}